<a href="/sessions/<%=current_borrower.id%>" data-method="delete">Log Out</a>

<h3>Name: <%= @borrower.first_name %> <%= @borrower.last_name %></h3>
<h3>Amount Needed: <%= @borrower.money %></h3>
<h3>Amount Raised: <%= @borrower.raised %></h3>

<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Amount Lent</td>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>

    </tbody>
</table>


<style>
    table, th, td{
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
    }
</style>